header {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 120px;
    border-bottom: 1px solid #111111;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .link-logo {
    width: 63px;
    height: 27px;
    object-fit: cover;
}

.menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu-left > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.menu-left > ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #111111;
}

.li-dropdown {
    position: relative;
}

.link-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.link-dropdown > img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.div-dropdown {
    background: #FFFFFF;
    position: absolute;
    padding: 8px 20px;
    top: 50px;
    left: -40%;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 150px;
    display: none;
    /** justify-content: center; */
    align-items: center;
    border: 1px solid #11111142;
    border-radius: 5px;
}

.div-dropdown > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.div-dropdown > ul > li a {
    text-decoration: none;
    font-size: 1rem;
    color: #111111;
}

.div-dropdown.active {
    display: flex;
}

.button-menu {
    display: flex;
    gap: 1rem;
}

.btn-mobile {
    display: none;
}

.menu-mobile {
    display: flex;
    min-height: calc(100dvh - 69px);
    width: 100%;
    position: fixed;
    right: 0;
    top: 69px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.menu-mobile-container {
    min-height: calc(100dvh - 69px);
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-mobile-container > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu-mobile-container > ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #111111;
}

.button-menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media screen and (width < 940px) {
    header {
        padding: 16px 60px;
    }

}

@media screen and (width < 850px) {
    .menu-left {
        display: none;
    }

    .btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
        padding: 6px 0;
    }

    .btn-mobile > img {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    .menu-mobile.active {
        opacity: 1;
        pointer-events: auto;
    }

    .menu-mobile-container.active {
        transform: translateX(0);
    }
}

@media screen and (width < 660px) {
    .menu-mobile-container {
        width: 50%;
    }
}

@media screen and (width < 420px) {
    header {
        padding: 16px 30px;
    }

    .menu-mobile-container {
        width: 60%;
    }
}
